body {
  width: 100%;
  background-color: coral;
}

.tile-container {
  width: 80%;
  margin: 40px 10%;
  background-color: blueviolet;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tile {
  width: 36%;
  padding: 5%;
  background-color: cadetblue;
}